{
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "none",
  "printWidth": 80,
  "jsxBracketSameLine": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "overrides": [{
    "files": ".prettierrc",
    "options": {
      "parser": "json"
    }
  }]
}